div {
    font-size: 5rem;
    line-height: 30px;
    margin: 0px 10px;
    background-size: cover;
}
nav{
    text-align: center;
    background: red;
    padding: 20px;
    margin: 2px;
}

a {
    display: inline;
    grid-template-columns: repeat(6,1fr);
    margin: 20px;
    padding: 10px 5px;
    color:white;
    padding: 1em 1.5em;
}

a:hover {
  background-color: #555;
}

a:visited {
  background-color:brown;
}