div {
    font-size: 5rem;
    line-height: 30px;
    margin: 0px 10px;
    background-size: cover;
}
nav{
    text-align: center;
    background: red;
    padding: 20px;
    margin: 1px;
}
a {
    display: inline;
    grid-template-columns: repeat(6,1fr);
    margin: 20px;
    padding: 10px 5px;
    color:white;
    padding: 1em 1.5em;
}
a:hover {
  background-color: #555;
}
a:visited {
  background-color:brown;
}
footer {
    font-size: 1em;
    line-height: 50px;
    margin: 5px 5px;
    padding: 20px;
    background-color: burlywood;
    text-align: center;
}
article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
article section img{
    width: 400px;
    height: 300;
    text-align: center;
}
.text {
    width: 400px;
    height: 300;
    padding: 0px 0px 0px 20px;
}
.descripe{
    grid-template-columns: auto auto;
    justify-items: stretch;
    font-size: 1.5em;
    font-family: 'Athiti', sans-serif;
    letter-spacing: 1px;
    justify-self: center;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding: 2px 2px 2px 2px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}
.grid-item{
    padding:2px auto 1px auto;
    text-align: left;
}

@media screen and (max-width:800px){
    .grid-container{
        grid-template-columns: auto;
    }
  }