/* This file should be in a folder called `css` */

.grid-clock {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: white;
  }
  
  #clock {
    
    font-size: 2.5rem;
    padding: 20px;
    background-color: red 
}
